{% extends "::plastique.html.twig" %}

{% block title %}CodeMonkeys Budget{% endblock %}

{% block javascripts_header %}
    <script type="text/javascript">
        var require = {
            config: {
                "application/main": {
                    container: "body",
                    user: {
                        id: "{{ app.user.id }}",
                        login: "{{ app.user.username }}",
                        gravatarHash: "{{ app.user.email|md5 }}"
                    },
                    routes: {
                        logout: "{{ path("fos_user_security_logout") }}"
                    }
                },
                "modules/occupation/collection": {
                    url: "{{ path("api_v1_get_occupations") }}"
                },
                "modules/region/collection": {
                    url: "{{ path("api_v1_get_regions") }}"
                },
                "modules/spending/collection": {
                    url: "{{ path("api_v1_get_spendings") }}"
                },
                "modules/spendings-type/collection": {
                    url: "{{ path("api_v1_get_spendingstypes") }}"
                },
                "modules/project/collection": {
                    url: "{{ path("api_v1_get_projects") }}"
                },
                "modules/project-involvement/collection": {
                    url: "{{ path("api_v1_get_involvements") }}"
                },
                "modules/employee/collection": {
                    url: "{{ path("api_v1_get_employees") }}"
                },
                "modules/reports/year/projects-collection": {
                    url: "{{ path("api_v1_reports_projects", {"year": ":year"}) }}"
                },
                "modules/reports/fot/fot-collection": {
                    url: "{{ path("api_v1_reports_fot", {"year": ":year"}) }}"
                },
                "modules/reports/project-summary/project-summary-collection": {
                    url: "{{ path("api_v1_reports_project", {"projectId": ":id", "year": ":year"}) }}"
                },
                "modules/reports/regional-year/regional-collection": {
                    url: "{{ path("api_v1_reports_regional", {"id": ":id", "year": ":year"}) }}"
                },
                "modules/reports/project-month/project-month-details-collection": {
                    url: "{{ path("api_v1_reports_project_month_detail", {"projectId": ":id", "year": ":year", "month": ":month"}) }}"
                }
            }
        };
    </script>

    <script type="text/javascript" data-main="/frontend/main.js"
            src="/frontend/bower_components/requirejs/require.js"></script>


    <link rel="stylesheet" href="/frontend/bower_components/select2/select2.css"/>

    <style type="text/css">
        #notifications {
            z-index:10000;
        }
    </style>

{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 200px;">Loading...</div>
{% endblock %}