{% extends "::plastique.html.twig" %}

{% block title %}Checkman{% endblock %}

{% block javascripts_header %}
    <script type="text/javascript">
        var require = {
            config: {
                "i18n": {
                    "locale": "{{ locale }}"
                },

                "application/main": {
                    container: "body",
                    locale: "{{ locale }}",
                    switchLocaleUrl: "{{ switchLocaleUrl }}",
                    user: {
                        id: "{{ app.user.id }}",
                        login: "{{ app.user.username }}",
                        gravatarHash: "{{ app.user.email|md5 }}",
                        availableRegions: {{ app.user.regionIds|jsonEncode }},
                        isAdmin: {{ (app.user.hasRole('ROLE_ADMIN') or app.user.hasRole('ROLE_SUPER_ADMIN'))|jsonEncode }}
                    },
                    routes: {
                        logout: "{{ path("fos_user_security_logout") }}"
                    }
                },
                "modules/occupation/collection": {
                    url: "{{ path("api_v1_get_occupations") }}"
                },
                "modules/region/collection": {
                    url: "{{ path("api_v1_get_regions") }}"
                },
                "modules/spending/collection": {
                    url: "{{ path("api_v1_get_spendings") }}"
                },
                "modules/spendings-type/collection": {
                    url: "{{ path("api_v1_get_spendingstypes") }}"
                },
                "modules/project/collection": {
                    url: "{{ path("api_v1_get_projects") }}"
                },
                "modules/project-involvement/collection": {
                    url: "{{ path("api_v1_get_involvements") }}"
                },
                "modules/employee/collection": {
                    url: "{{ path("api_v1_get_employees") }}"
                },
                "modules/employee/history-collection": {
                    url: "{{ path("api_v1_get_employee_projectshistory", {"id": ":id"}) }}"
                },
                "modules/financial-reports/year/projects-collection": {
                    url: "{{ path("api_v1_reports_projects", {"year": ":year"}) }}"
                },
                "modules/financial-reports/fot/fot-collection": {
                    url: "{{ path("api_v1_reports_fot", {"year": ":year"}) }}"
                },
                "modules/financial-reports/project-summary/project-summary-collection": {
                    url: "{{ path("api_v1_reports_project", {"projectId": ":id", "year": ":year"}) }}"
                },
                "modules/financial-reports/regional-year/regional-collection": {
                    url: "{{ path("api_v1_reports_regional", {"id": ":id", "year": ":year"}) }}"
                },
                "modules/financial-reports/project-month/project-month-details-collection": {
                    url: "{{ path("api_v1_reports_project_month_detail", {"projectId": ":id", "year": ":year", "month": ":month"}) }}"
                }
            }
        };
    </script>

    {% if app.environment == 'prod' %}
        <script type="text/javascript" data-main="/frontend-build/main.js"
                src="/frontend-build/bower_components/requirejs/require.js"></script>
    {% else %}
        <script type="text/javascript" data-main="/frontend/main.js"
                src="/frontend/bower_components/requirejs/require.js"></script>
    {% endif %}



    <link rel="stylesheet" href="/frontend/bower_components/select2/select2.css"/>

    <style type="text/css">
        #notifications {
            z-index:10000;
        }
    </style>

{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 200px;">Loading...</div>
{% endblock %}