{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_class %}class="login"{% endblock %}

{% block body %}
    {% if error %}
        <script type="text/javascript">
            $(function(){
                Notifications.push({
                    text: "<i class='icon-warning-sign'></i> {{ error|trans }}",
                    autoDismiss: 3,
                    "class": "error"
                });
            })
        </script>
    {% endif %}

    <div class="container">
        <div class="login-wrapper" style="margin-top: 120px">
            <div style="text-align: center">
                <i class="icon-money logo-icon"></i>
                <h2 style="margin-top: -10px; color:white">Checkman</h2>
            </div>

            <div id="login-manager">
                <div id="login" class="login-wrapper animated">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="input-group">
                            <input type="text" name="_username" value="{{ last_username }}" placeholder="login" required="required" class="input-transparent" id="email" />
                            <input type="password" name="_password" placeholder="password" class="input-transparent" required="required"/>
                            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
                        </div>
                        <button id="login-submit" type="submit" name="_submit" class="login-button">{{ 'security.login.submit'|trans }}</button>
                    </form>
                </div>

                {#<div class="inner-well" style="text-align: center; margin: 20px 0;">#}
                    {#<a href="#" id="register-link" class="button mini rounded gray"><i class="icon-plus"></i> Register</a>#}
                    {#<a href="#" id="forgot-link" class="button mini rounded gray"><i class="icon-question-sign"></i> Forgot Password?</a>#}
                {#</div>#}
                <div class="inner-well" style="text-align: center; margin: 20px 0; color: white">
                    <p style="margin:0"><b>Demo login:</b> Admin | <b>Demo password:</b> Admin</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}